<!--提示信息-->
<p-messages [(value)]="msgs" [closable]="true" [style]="{'position':'fixed','top': '0','margin-top': '0','width': '100vw','z-index':'9999'}"></p-messages>
<!--确认弹窗-->
<p-confirmDialog acceptLabel="确认" rejectLabel="取消"></p-confirmDialog>
<app-s-loation locationTitle="应用访问控制"></app-s-loation>
<div class="serarea-manage">
  <h1 class="text-center">应用访问控制</h1>
  <!--按钮-->
  <div class="btn-manner">
    <button class="btn btn-primary" (click)="addDialog = true">增加</button>
    <button class="btn btn-danger" type="button" (click)="deleteFirm()">删除</button>
    <button class="btn btn-success" type="button" (click)="modifyBtn()">修改</button>
  </div>
  <!--数据-->
  <p-table [columns]="cols" [value]="applies" selectionMode="multiple" [(selection)]="selectedApplies" (onRowSelect)="onRowSelect($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--增加弹框-->
  <p-dialog header="增加信息" [(visible)]="addDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="900">
    <div class="ui-g ui-fluid">
      <!--应用名称-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="appName">应用名称：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="appName" [(ngModel)]="addApply.appName"/>
        </div>
      </div>
      <!--应用密钥-->
      <div class="ui-g-6">
        <div class="ui-g-3">
          <label for="appKey">应用密钥：</label>
        </div>
        <div class="ui-g-7">
          <input pInputText id="appKey" disabled [(ngModel)]="addApply.appKey"/>
        </div>
        <div class="ui-g-2">
          <button class="btn btn-info" (click)="getAppKeyClick()">生成密钥</button>
        </div>
      </div>
      <!--应用描述-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="appDesc">应用描述：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="appDesc" [(ngModel)]="addApply.appDesc"/>
        </div>
      </div>
      <!--应用版本-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="version">应用版本：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="version" [(ngModel)]="addApply.version"/>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="addsSave()">保存</button>
        <button class="btn btn-warning" type="button" (click)="addDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <p-dialog header="修改信息" [(visible)]="modifyDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="900">
    <div class="ui-g ui-fluid">
      <!--应用名称-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="appName1">应用名称：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="appName1" [(ngModel)]="modifyApply.appName" ([value])="this.modifyApply.appName"/>
        </div>
      </div>
      <!--应用密钥-->
      <div class="ui-g-6">
        <div class="ui-g-3">
          <label for="appKey1">应用密钥：</label>
        </div>
        <div class="ui-g-7">
          <input pInputText id="appKey1" disabled [(ngModel)]="modifyApply.appKey" ([value])="this.modifyApply.appKey"/>
        </div>
        <div class="ui-g-2">
          <button class="btn btn-info" (click)="getAppKeyClick()">生成密钥</button>
        </div>
      </div>
      <!--应用描述-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="appDesc1">应用描述：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="appDesc1" [(ngModel)]="modifyApply.appDesc"  ([value])="this.modifyApply.appDesc"/>
        </div>
      </div>
      <!--应用版本-->
      <div class="ui-g-6">
        <div class="ui-g-4">
          <label for="version1">应用版本：</label>
        </div>
        <div class="ui-g-8">
          <input pInputText id="version1" [(ngModel)]="modifyApply.version"  ([value])="this.modifyApply.version"/>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button class="btn btn-success" type="button" (click)="modifySure()">确认</button>
        <button class="btn btn-warning" type="button" (click)="modifyDialog=false">取消</button>
      </div>
    </p-footer>
  </p-dialog>
  <app-paging [option]="option" (pageClick)="nowpageEventHandle($event)"></app-paging>
</div>
