.querybtn {
  margin: 0;
  padding: 0;
  width: 3vw;
  height: 3.5vh;
}
.querybtn:active{
  background: #209E91;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
